@font-face {
    font-family:'Roboto' ;
    src: url('../fonts/Roboto-Regular.ttf'), url('../fonts/Roboto-Bold.ttf');

}

*{
    font-family:'Roboto';
}

.button {
    background-color: #3EB25E;
    border-radius: 35px;
    font-family: 'Roboto' ;
    cursor: pointer;
}

.h1{
    font-family: 'Roboto';
}

.h2{
    font-family: 'Roboto';
}