@font-face {
    font-family:'Roboto' ;
    src: url('../fonts/Roboto-Regular.ttf'), url('../fonts/Roboto-Bold.ttf');

}

*{
    font-family:'Roboto';
}

button {
    width: 100px;
    background-color: #3EB25E;
    border-radius: 35px;
    font-family: 'Roboto' ;
    cursor: pointer;
    border: #3EB25E;
    color: #ffffff;

}

.h1{
    font-family: 'Roboto';
}

.h2{
    font-family: 'Roboto';
}

.select{
    width: 300px;
    border-radius: 35px;
    font-family: 'Roboto';

}

.label{
    font-family: 'Roboto';
}

.textarea{
    width: 300px;
    height: 300px;
    border-radius: 35px;
}