@font-face {
    font-family:'Roboto' ;
    src: url('../fonts/Roboto-Regular.ttf'), url('../fonts/Roboto-Bold.ttf');

}

*{
    font-family:'Roboto';
    margin: 0px;
    padding: 0px;

}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.img{
    margin-top: 80px;
    margin-left: -50px;
}
.img2{
    margin-top: 51px;
    margin-left: -35;
}

a{
    text-decoration: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 30px;
    background-color: #3EB25E;
    border-radius: 35px;
    cursor: pointer;
    border: #3EB25E;
    color: #ffffff;
    font-size: 15px;
    margin-top: 30px;
    
}
.buttonMenorEs{
    width: 140px;
    height: 30px;
    background-color: #3EB25E;
    border-radius: 35px;
    font-family: 'Roboto' ;
    cursor: pointer;
    border: #3EB25E;
    color: #ffffff;
    font-size: 15px;
    margin-top: 30px;

}
.buttonMenorDi{
    width: 140px;
    height: 30px;
    background-color: #3EB25E;
    border-radius: 35px;
    font-family: 'Roboto' ;
    cursor: pointer;
    border: #3EB25E;
    color: #ffffff;
    font-size: 15px;
    margin-top: 30px;

}
.buttonLargo{
    width: 140px;
    height: 30px;
    background-color: #3EB25E;
    border-radius: 35px;
    font-family: 'Roboto' ;
    cursor: pointer;
    border: #3EB25E;
    color: #ffffff;
    font-size: 15px;

}
.buttonLargoCima{
    width: 140px;
    height: 30px;
    background-color: #3EB25E;
    border-radius: 35px;
    font-family: 'Roboto' ;
    cursor: pointer;
    border: #3EB25E;
    color: #ffffff;
    font-size: 15px;

}

.h1{
    position: relative;
    font-size: 53px;
    margin-top: 25px;

}

.h2{
    position: relative;
    font-size: 30px;
    margin-top: 27px ;
    text-align: center;
}

.h3{
    position: relative;
    font-size: 20px;
    margin-top: 25px;
    
}

.formTela2{
    position: relative;
    align-items: center;
    margin-left: 50px;
    margin-top: 25px;
}

.select{
    position: relative;
    width: 278px;
    height: 25px;
    border-radius: 35px;
    text-align: center;
    text-size-adjust: 40px;

}

.label{
    font-family: 'Roboto';
    position: relative;
    
}

.textarea{
    width: 300px;
    height: 300px;
    border-radius: 35px;
    position: relative;

}

.formTela5{
    border-radius: 35px;
    border-color: #bfbfbf;
    color: #bfbfbf;
}

.p{
    position: relative;
    text-align: center;
    font-size: 18px;
    margin-top: 22px;

}
